
//custom-sizes variables

$brp-0: 22.4375em; //359px
$brp-1: 37.5em; //600px
$brp-2: 48em; //768px
$brp-3: 56.25em; //900px
$brp-4: 75em; //1200px
$brp-5: 93.75em; //1500px
$brp-custom-1: 112.5em; //1800px

//Lembrando que a ordem dos points é importante, coloque do maior para o menor!!!


@mixin breakpoints($point) { 

    @if $point == brp-0 {

        @media (max-width: $brp-0) { 

            @content;
        }
    }
    
    @else if $point == brp-1 {

        @media (max-width: $brp-1){
            @content;
        }
    }

    @else if $point == brp-2 {

        @media (max-width: $brp-2) {
            @content;
        }
    }
    
    @else if $point == brp-3 { 
        @media (max-width: $brp-3) { 
            @content;
        }
    }

    @else if $point == brp-4 {

        @media (max-width: $brp-4) { 
            @content;
        }
    }

    @else if $point == brp-5 { 
        @media (max-width: $brp-5) { 
            @content;
        }
    }

    @else if $point == brp-custom-1 { 
        @media (max-width: $brp-custom-1) { 
            @content;
        }
    }

    @else {
        @media (min-width: $point) { //em pixel
            @content;
        }
    }
}
