@use "../util/" as a;
@use "../components/" as c;
@use "../states/" as s;
@use "../themes/" as t;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 1.8rem 1.2rem;
  height: 100px;

  @media (max-width: 62.5em) {
    max-width: 95%;
  }

  &__menu {
    &__btn {
      display: none;
      cursor: pointer;
    }

    &__nav {
      &__lista {
        display: flex;
        gap: 1.4rem;

        @media (max-width: 62.5em) {
          gap: 0.4rem;
        }

        a:not(:last-child)::before {
          content: "";
          width: 0;
          height: 0.8px;
          background-color: rgba(0, 0, 0, 0.521);
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 350ms;
        }

        a:not(:last-child):hover::before {
          width: 100%;
        }
        a {
          display: block;
          font-size: 1.8rem;
          padding: 4px 8px;
          color: var(--p1);
          position: relative;
        }

        a:last-child {
          padding: 8px 12px;
          border: 2px solid var(--p0);
          border-bottom-left-radius: 12px;
          border-top-right-radius: 12px;
          margin-left: 4px;
          @media (max-width: 62.5em) {
            margin-left: 8px;
          }
        }

        li {
          display: flex;
          align-items: center;
          gap: 1.4rem;

          @media (max-width: 62.5em) {
            gap: 0.4rem;
          }

          span {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--p0);
          }
        }
      }
    }
  }
}

/* responsive menu */
@media (max-width: 800px) {
  .header__menu__btn {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.8rem;
    border: none;
    background-color: var(--p0);
    color: white;
    border-radius: 4px;
    font-weight: bold;
    gap: 6px;

    &__burguer {
      display: block;
      border-top: 2px solid;
      width: 20px;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 20px;
        height: 2px;
        background-color: white;
        margin-top: 5px;
        position: relative;
        transition: 300ms;
      }
    }
  }

  .header__menu__btn.active .header__menu__btn__burguer {
    border-top-color: transparent;
  }
  .header__menu__btn.active .header__menu__btn__burguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .header__menu__btn.active .header__menu__btn__burguer::before {
    transform: rotate(135deg);
  }

  #menu {
    display: none;
    font-family: var(--font-default);
    font-weight: bold;
  }

  #menu.active {
    display: flex;
  }

  .header__menu__nav__lista {
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 50px 0 0;
    right: -100px;
    top: 100px;
    background-color: tomato;
    height: calc(100vh - 100px);
    width: 100%;
    gap: 34px;
    background-image: url("/assets/undraw_mobile_search_jxq5.svg");
    background-position: left bottom;
    background-size: 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 350ms;

    opacity: 0;
    z-index: 1000;
  }

  #menu.active .header__menu__nav__lista {
    animation: show-in 350ms forwards;
  }

  @keyframes show-in {
    to {
      opacity: 1;
      right: 0px;
    }
  }

  .header__logo img {
    width: 120px;
  }
}
