@use "../util/" as a;
@use "../components/" as c;
@use "../states/" as s;
@use "../themes/" as t;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;

  padding: 1.6rem 1.2rem;

  &__menu {
    &__btn {
      display: none;
    }

    &__nav {
      &__lista {
        display: flex;
        gap: 1.4rem;

        a:not(:last-child)::before {
          content: "";
          width: 0;
          height: 0.8px;
          background-color: rgba(0, 0, 0, 0.521);
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 350ms;
        }

        a:not(:last-child):hover::before {
          width: 100%;
        }
        a {
          display: block;
          font-size: 1.8rem;
          padding: 4px 8px;
          color: var(--p1);
          position: relative;
        }

        &::before:not(:last-child) {
        }

        a:last-child {
          padding: 8px 12px;
          border: 2px solid var(--p0);
          border-bottom-left-radius: 12px;
          border-top-right-radius: 12px;
          margin-left: 4px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 1.4rem;

          span {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--p0);
          }
        }
      }
    }
  }
}
